<thead>
  <tr>
    <td>Year</td>
    <td>G</td>
    <td>PA</td>
    <td>AB</td>
    <td>R</td>
    <td>H</td>
    <td>2B</td>
    <td>3B</td>
    <td>HR</td>
    <td>RBI</td>
    <td>BB</td>
    <td>SO</td>
    <td>SF</td>
    <td>TB</td>
    <td>AVG</td>
    <td>OBP</td>
    <td>SLG</td>
    <td>OPS</td>
  </tr>
</thead>
