<div id="season-stats">
  <div class="head">
    <td>Team Stats</td>
  </div>
  <table class="season-stat" border="1">
    <%= render 'season_stats_header' %>
    <%= render 'season_stats_body' %>
    <%= render 'total_season_stats' %>
  </table>
</div>
