<div id="content">
  <h1 class="heading">Moonlight Moonrakers</h1>
  <div id="team-info">
    <p>
      The Moonrakers have been part of the Orthodox Bungalow Baseball League
      since the early 80s. They have gone under two alias' over the years:
      Moonlight and Moonrakers. They're bungalow colony is located in Moonlight
      Cottages on
      <p class="address">
        58 Rubin Rd.<br>
        Monticello, New York 12701
      </p>
    </p>
    <p>
      The colony has had many solid teams over the years and has won multiple Divisional
      titles. Players such as Heshy Gottlieb and Willie Rapfogel have been instrumental
      in establishing the team and keeping the team going strong. Currently, 4 members
      of the team are children of these legendary players.
    </p>
    <p>
      The beauty of playing for the Moonrakers is the bond that is created between the players.
    </p>
  </div>

  <div id="team-photo">
    <%= image_tag("moonraker_team.jpg") %><br>
    <caption>
      <b>2014 Central Division Champions</b><br>
      <b>Top Row (left to right)</b>:<br>
      Dovi Favish, Leib Gershkovich, Yosef Isaacs, Jon Gellis, Shalom Motechin, David Gottlieb, Shai Gerson.<br>
      <b>Bottom Row</b>:<br>
      Kenny Schiff, Captain Moshe Rapfogel, Gadi Gottlieb, Roni Gottlieb,
      Jeremy Goldzal, Manager Heshy Gottlieb.<br>
    </caption>
  </div>
  <footer>COPYRIGHT <b>&copy</b> 2014 Moonlight Moonrakers</footer>
</div>
