  <!-- <tr>
    <td></td>
    <td></td>
    <td><%= @player.season_plate_appearances(@statistics, @seasons, @player) %></td>
    <td></td>
    <td><%= @player.season_runs(@statistics, @seasons, @player) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr> -->
