$blue: #110476;

$orange: #e27d0f;
// #main-image{
#photo{
  img{
    margin-top: 15px;
    height: 350px;
    width: 700px;
    border: 5px solid $orange;
    z-index: -1;
  }
  #main-name{
    background: -webkit-linear-gradient(bottom, rgba(4, 3, 65, 0.45), $blue);
    color: white;
    height: 50px;
    width: 225px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px rgba(63, 63, 63, 0.72);
    background-color: rgba(120, 111, 111, 0.91);
    margin-left: auto;
    margin-right: auto;
    #player-name{
      margin-top: 15px;
      font-size: 18px;
    }
  }
}

#player-info{
  // border: solid 2px $orange;
  // height: 100px;
  // width: 200px;
  ul{
    list-style: none;
    li {
      display: inline-block;
    }
  }

}
