.season-data{
  width: 10%;
  height: 10%;
}
.season-stats{
  width: 10%;
  height: 10%;
}

.scrolls{
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
}

// Season Show

.season-description{
  text-align: justify;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}
